## Data Preprocessing and Feature Engineering

In [1]:
import pandas as pd

In [2]:
boxes_df = pd.read_csv("../../datasets/problem1/boxes.csv", engine='pyarrow')
purchase_df = pd.read_csv("../../datasets/problem1/purchase.csv", engine='pyarrow')

In [3]:
merged_df = pd.merge(boxes_df, purchase_df, on='BOX_ID', how='inner')
merged_df.head()

,BOX_ID,QUALITY,DELIVERY_OPTION,MILK,MEAT,UNIT_PRICE,PURCHASE_DATE,MAGIC_KEY,BOX_COUNT
0,1,Premium,Home Delivery - CoD,0.0,2.7,9.96,4/2/2019,2C88D36D1FC,1.0
1,2,Premium,Home Delivery - CoD,0.0,2.3,11.96,2/1/2019,2BF011BDB38,1.0
2,2,Premium,Home Delivery - CoD,0.0,2.3,11.96,2/1/2019,2CA0EE8F2B3,1.0
3,2,Premium,Home Delivery - CoD,0.0,2.3,11.96,2/1/2019,2C623730B09,1.0
4,2,Premium,Home Delivery - CoD,0.0,2.3,11.96,2/1/2019,2CA6CE1054F,1.0

In [4]:
merged_df.isna().sum()

BOX_ID             0
QUALITY            0
DELIVERY_OPTION    0
MILK               0
MEAT               0
UNIT_PRICE         0
PURCHASE_DATE      0
MAGIC_KEY          0
BOX_COUNT          0
dtype: int64

In [5]:
merged_df["DELIVERY_OPTION"].value_counts()

DELIVERY_OPTION
Delivery from Collection Point     2138363
Home Delivery - CoD                 314434
Home Delivery - Digital Payment       3003
Name: count, dtype: int64

In [6]:
merged_df["DELIVERY_OPTION"] = merged_df["DELIVERY_OPTION"].map({
    "Delivery from Collection Point": 0,
    "Home Delivery - CoD"       : 1,
    "Home Delivery - Digital Payment": 2,
    
})

merged_df.head()

,BOX_ID,QUALITY,DELIVERY_OPTION,MILK,MEAT,UNIT_PRICE,PURCHASE_DATE,MAGIC_KEY,BOX_COUNT
0,1,Premium,1,0.0,2.7,9.96,4/2/2019,2C88D36D1FC,1.0
1,2,Premium,1,0.0,2.3,11.96,2/1/2019,2BF011BDB38,1.0
2,2,Premium,1,0.0,2.3,11.96,2/1/2019,2CA0EE8F2B3,1.0
3,2,Premium,1,0.0,2.3,11.96,2/1/2019,2C623730B09,1.0
4,2,Premium,1,0.0,2.3,11.96,2/1/2019,2CA6CE1054F,1.0

In [7]:
# Add another column "MILK_PURCHAED" to the merged_df. If MILK > 0 then 1 else 0
merged_df["MILK_PURCHAED"] = (merged_df["MILK"] > 0).astype(int)
merged_df["MEAT_PURCHAED"] = (merged_df["MEAT"] > 0).astype(int)

merged_df.head()

,BOX_ID,QUALITY,DELIVERY_OPTION,MILK,MEAT,UNIT_PRICE,PURCHASE_DATE,MAGIC_KEY,BOX_COUNT,MILK_PURCHAED,MEAT_PURCHAED
0,1,Premium,1,0.0,2.7,9.96,4/2/2019,2C88D36D1FC,1.0,0,1
1,2,Premium,1,0.0,2.3,11.96,2/1/2019,2BF011BDB38,1.0,0,1
2,2,Premium,1,0.0,2.3,11.96,2/1/2019,2CA0EE8F2B3,1.0,0,1
3,2,Premium,1,0.0,2.3,11.96,2/1/2019,2C623730B09,1.0,0,1
4,2,Premium,1,0.0,2.3,11.96,2/1/2019,2CA6CE1054F,1.0,0,1